body {
    background-color:#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1{
    color: #0040df;
}

nav {
    background-color: black;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    color: whitesmoke;
    display: inline-block;
    padding: 10px 20px;
}

h2{
    color: blue;
}
.card img{
    max-width: 300px;
    margin-left: 420px;
}
section{
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    margin: 6px;
}